@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --dark1: #051956;
    --dark2: #170556;
    --light: #3250a3;
    --font-light: #f4f5fb;
    --font-dark: #0b1e54;
    --highlight-low: #749bdd;
    --btn-color: #ff5945;
    --btn-color-hover: #ed4937;

    --font-small: 0.8rem;
    --font-mid-1: 1rem;
    --font-mid-2: 1.1rem;
    --font-mid-3: 1.3rem;
    --font-large-1: 1.5rem;
    --font-large-2: 1.8rem;
    --font-large-3: 2rem;
    --font-style-1: 'Poppins', sans-serif;
    --font-style-2: 'Source Sans Pro', sans-serif;
}

body {
    background: linear-gradient(45deg, var(--dark1), var(--dark2));
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

.container {
    width: 50vw;
    height: fit-content;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: rgba(81, 177, 255, 0.345);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 3;
}

.solids {
    position: absolute;
    width: 50vw;
    top: 1rem;
}

.solids div:nth-child(1) {
    content: '';
    width: 5rem;
    height: 5rem;
    background-color: #1f58f4;
    background: linear-gradient(-45deg, #7901a8,#f801ae);
    background: linear-gradient(-45deg, #010fa8,#7001f8);
    position: relative;
    left: -3rem;
    top: 0.7rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.1);
    z-index: 1;
}

.solids div:nth-child(2) {
    content: '';
    width: 5rem;
    height: 5rem;
    background: linear-gradient(-45deg, #010fa8,#7001f8);
    background: linear-gradient(-45deg, #7901a8,#f801ae);
    position: relative;
    left: 95%;
    top: 11rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.1);
    z-index: 1;
}

.container nav img {
    position: relative;
    top: 0.5rem;
    width: 3rem;
}

nav {
    font-family: var(--font-style-1);
    font-weight: 600;
    color: var(--font-light);
    width: 100%;
    display: flex;
    align-items: center;;
    justify-content: center;
    font-size: var(--font-large-3);
    position: relative;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid var(--dark1);
    box-shadow: 0px 5px 5px #749bdd1d;
    box-shadow: 0px 5px 5px #749bdd32;
    letter-spacing: 0.8px;
    cursor: default;
}

.boxContainer {
    width: 80%;
    padding-left: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--font-light);
    border: 0.12rem solid #051956c2;
    border-radius: 2rem;
    overflow: hidden;
}

.boxContainer input {
    width: 100%;
    color: var(--font-dark);
    background-color: transparent;
    font-style: var(--font-style-2);
    font-size: var(--font-mid-2);
    padding-top: 0.08rem;
    letter-spacing: 0.04rem;
    outline: none;
    border: none;
}

.boxContainer button {
    outline: none;
    border: none;
    display: flex;
    letter-spacing: 0.04rem;
    padding: 0.8rem 2.5rem;
    color: var(--font-light);
    font-size: var(--font-mid-1);
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: var(--btn-color);
    transition: all 0.2s;
    cursor: pointer;
}

.boxContainer button:hover {
    background-color: var(--btn-color-hover);
}

.contentContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
    font-size: var(--font-mid-2);
    padding: 0.3rem 0.3rem;
    margin: 1rem 0;
    color: #d5cdfd;
    font-family: var(--font-style-2);
    position: relative;
    padding-right: 01.4rem;
    border-bottom: 2px solid var(--highlight-low);
    letter-spacing: 0.04rem;
    padding-bottom: 0.4rem;
    transition: all 0.2s;
    cursor: pointer;
}

ul li:hover {
    color: var(--font-light);
    border-bottom: 2px solid #ddd7ff;
}

ul li::before {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(./img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.4rem;
    left: -1.5rem;
}
ul li.checked {
    opacity: 1;
    color: #f4f5ffcd;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(./img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    font-size: var(--font-large-1);
    text-align: center;
    line-height: 1.7rem;
    color: #f4f5ffcd;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

ul li span:hover {
    color: #ff1900;
    background-color: #f8b8b1;
}
